.area-cards {
  width: 70vw;
}

.card-projeto {
  width: 45%;
  float: left;

  margin: 0 calc(5%) 50px 0;
}

.card-projeto .editorContainer {
  border-radius: 8px;
}

.card-projeto code {
  max-height: 100px;
}

.card-projeto:hover .card__interacao {
  padding: 0 24px 24px;
  height: auto;
  opacity: 1;
}

.card__content {
  background-color: #00000029;
  border-radius: 8px;
}

.card__descricao {
  padding: 24px;
}

.card__interacao {
  padding: 0;
  height: 0;
  opacity: 0;

  transition: all 0.4s cubic-bezier(0.42, -0.43, 0.51, 1.47);
}

.card__titulo {
  font: normal 700 1.3rem var(--font-principal);
  margin-bottom: 20px;
}

.card__descricao p {
  font: normal 400 1rem var(--font-principal);
  padding: 0;
  margin-bottom: 20px;
}

.card__interacao {
  display: flex;
  gap: 20px;
}

.card__interacao-item {
  display: flex;
  gap: 10px;
}
