.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

}

.cabecalho__logo{
    width: auto;
}

.barra_pesquisa{
    background-color: var(--cor-cinza);
    border: none;
    width: 50%;
    height: 3rem;

    border-radius: 8px;
    color: var(--cor-branco);
}

.barra_pesquisa::placeholder{
    padding-left: 1rem;

}

.barra_pesquisa:hover{
    background-color: var(--cor-cinza-hover);

}

.cabecalho__usuario{
    display: flex;
    align-items: center;
    gap: 15px;
}