.codigo{
    background-color: var(--cor-highlight);
    border-radius: 8px;
    box-shadow: 0 15px rgba(0, 0, 0, 0.24);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 80%;
}

.input__codigo{

    background-color: var(--cor-preto);
    border: none;
    border-radius: 8px;
    color: var(--cor-branco);
    
    margin: 1rem;
    width: 90%;
    height: 90%;
}

.botao__highlight{

    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-botao-highlight);
    color: var(--cor-branco);

    position: absolute;
    top: 105%;
}

.botao__highlight:hover{
    background-color: var(--cor-botao-highlight-hover);
}

.botao__highlight:active{
    border: 2px solid var(--cor-botao-highlight);
}

.botao__highlight:focus{
    background-color: var(--cor-botao-highlight-focus);
}