.search-bar{
    display: flex;
    gap: 10px;
    width: 90%;
    position: absolute;
    top: -20%;
    z-index: 1;
    transition: top 0.7s ease-in-out;
    animation: opacityDown 0.7s ease-in-out;
}

.is-visible{
    opacity: 1;
    top: 2.5rem;
}

.close_button{
    background: none;
    border: none;
}

.menu{
    background-color: var(--cinza);
    width: 70vw;
    height: 70vh;
    padding: 1rem;
    border-radius: var(--border-radius);
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 1;
    transition: right 0.7s ease-in-out;
    animation: opacityDown 0.7s ease-in-out;

}

.is-open{
    opacity: 1;
    right: 0.625rem;
}

.menu_link{
    font-family: var(--font-principal);
    text-decoration: none;
    color: var(--branco);

    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

hr{
    margin-bottom: 1rem;
}

@keyframes opacityDown {
    to{
        opacity: 0;
    }
}

@media screen and (min-width: 820px) {
    .menu{
        width: 40vw;
    }
    
}

@media screen and (min-width: 1024px) {
    .menu{
        opacity: 1;
        position: static;
        animation: none;
        width: 20vw;
        padding: 0;

        background-color: transparent;
    }

    hr, .menu_user {
        display: none;
    }
    
}