.projeto input, .projeto select, .projeto .input{
    width: 100%;
}

.projeto_info, .projeto_setting{
    margin-bottom: 2rem;
}

.projeto input:not([type="color"]), .projeto select{
    margin-bottom: 1rem;
}

@media screen and (min-width: 820px) {

    .projeto input[type="color"], .projeto select{
        width: calc(50% - 0.5rem) !important;
        margin-bottom: 0;
    }

    .setting{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (min-width:1024px) {

    .projeto{
        width: 20vw;
    }

    .setting{
        display: block;
    }

    .projeto input[type="color"], .projeto select{
        width: 100% !important;
        margin-bottom: 1rem;
    }


}